<%	provide(:title, 'About Us') %>

<h1>About Us</h1>
<p>
	The <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
	is a project to make a book and screencasts to teach web development
	with <a href="http://rubyonrails.org/">Ruby on Rails</a>. 
  </p>
<p>Micro Blogging app is the main app for RoR tutorial. 
This app is created by me to learn RoR, RSpec testing, and manual app building without using the scaffold.</p>
You can find this tutorial @ the <a href="http://railstutorial.org/">*Ruby on Rails Tutorial*</a>


<p>This is the sample application created by my to learn Ruby on Rails by <a href="http://michaelhartl.com/">Michael Hartl.</a> I followed tutorial by Michael and make some modification to it.</p>

<p>Please check the live working app @</p>

<p><b>Heroku <a href="https://micro-blogging.herokuapp.com/">*Heroku Live Micro Blogging App*</a></b></p>

<p><em>Admin login:</em></p>
<p>email: admin@railstutorial.org</p>
<p>password: foobar</p>

<p>Enjoy;)</p>

<p><b><em>Pav</em></b></p>
