<% provide(:title, 'Contact') %>

<h1>Contact</h1>
<p>
	Contact Ruby on Rails Tutorial team if you like to ask about the this app at the
	<a href="http://railstutorial.org/contact">contact page</a>.
</p>
<p>Contac me if you like via Twitter <a href="https://twitter.com/kurdnaskela">@Pav</a>.</p>